$cyan: #2A79AD;
$green: #B7E4CF;
$green-light: #E3F4EC;
$red: #B61B28;
$body-color: #171717;
$white: #FFFFFF;
$black: #000000;
$blue: #232444;
$blue-light: #575993;
$gray-dark: #585858;
$gray: #D8D8D8;
$gray-light: #E2E2E2;
$off-white: #f7f7f7;
