@mixin reg-book {
  font-family: "Ringside Regular A", "Ringside Regular B";
  font-style: normal;
  font-weight: 400;
}

@mixin reg-book-ital {
  font-family: "Ringside Regular A", "Ringside Regular B";
  font-style: italic;
  font-weight: 400;
}

@mixin reg-bold {
  font-family: "Ringside Regular A", "Ringside Regular B";
  font-style: normal;
  font-weight: 700;
}

@mixin reg-bold-ital {
  font-family: "Ringside Regular A", "Ringside Regular B";
  font-style: italic;
  font-weight: 700;
}

@mixin comp-bold {
  font-family: "Ringside Compressed A", "Ringside Compressed B";
  font-style: normal;
  font-weight: 700;
}

@mixin extra-wide-black {
  font-family: "Ringside Extra Wide SSm A", "Ringside Extra Wide SSm B";
  font-style: normal;
  font-weight: 800;
}
